<!--
<p>
  {{ items | json }}
</p>
-->

<h2> Artikel Liste
  <span class="badge badge-success">{{count}}</span>
  <button type="button" class="btn btn-info pull-right" [routerLink]="['../createitem']">Neuer Artikel</button>
</h2>

<div class="input-group">
  <input #searchBox id="search-box" 
    [(ngModel)]="fSearch" 
    (keyup)="search(searchBox.value)"
    type="text" 
    class="form-control input-lg" 
    placeholder="Suche" 
    aria-label="Suche" />
  <span class="input-group-btn">
    <button (click)="searchBox.value=null" class="btn btn-default input-lg" type="button">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
</div>
<br/>
<div class="list-group"> 
  <div *ngFor="let item of items" class="list-group-item list-group-item-action">
    {{item.name}}
    <a routerLink="/item/{{item.id}}" class="pull-right glyphicon glyphicon-pencil"></a>
    <span *ngIf="item.quantity" class="pull-right glyphicon glyphicon-ok-circle">&nbsp;</span>
    <a *ngIf="!item.quantity" (click)="addPurchases(item.id)" class="pull-right glyphicon glyphicon-plus">&nbsp;</a>
  </div>
  <ngb-pagination 
    *ngIf="count"
    [collectionSize]="count" 
    [(page)]="page"
    [(pageSize)]="pageSize" 
    [rotate]="true"
    [boundaryLinks]="true"
    [maxSize]="3"
    [rotate]="true"
    [boundaryLinks]="false"
    (pageChange)="getItems($event)"
    aria-label="Default pagination">
  </ngb-pagination>
</div>
