<!--
<pre>{{meals | json}}</pre>
<pre>{{meals.length}}</pre>
-->

<h2>Menü
  <button 
    *ngIf="meals?.length"
    type="button" 
    class="btn btn-info pull-right" 
    (click)="cleanMenu();"
    >Liste leeren</button>
</h2>

<p
    *ngIf="!meals?.length">
    Aktuell haben Sie noch keine Gerichte ausgewählt!
</p>

<div class="list-group"> 
  <a *ngFor="let meal of meals" 
     routerLink="/detail/{{meal.meal_id}}" 
     (swiperight)="dropMenu(meal.meal_id);"
     class="list-group-item list-group-item-action">
    {{meal.meal_name}}
  </a>
</div>
  <button
    *ngIf="meals?.length"
    type="button" 
    class="btn btn-info pull-right" 
    (click)="print();"
    >Drucken</button>
<br />
<app-purchaselist></app-purchaselist>