<h2> Meal List
  <span class="badge badge-success">{{count}}</span>
  <button type="button" class="btn btn-info pull-right" [routerLink]="['../createmeal']">Neues Gericht</button>
</h2>

<div class="input-group">
  <input #searchBox id="search-box" [(ngModel)]="fSearch" type="text" class="form-control input-lg" placeholder="Suche" aria-label="Suche" />
  <span class="input-group-btn">
    <button (click)="search(searchBox.value)" class="btn btn-default input-lg" type="button">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </span>
</div>
<br/>
<ul class="list-group"> 
  <li *ngFor="let meal of meals"
     class="list-group-item list-group-item-action">
    {{meal.meal_name}}
    <a routerLink="/detail/{{meal.meal_id}}" class="pull-right glyphicon glyphicon-pencil"></a>
    <span *ngIf="meal.menu" class="pull-right glyphicon glyphicon-ok-circle">&nbsp;</span>
    <a *ngIf="!meal.menu" (click)="addMenu(meal.meal_id)" class="pull-right glyphicon glyphicon-plus">&nbsp;</a>
  </li>
  <ngb-pagination 
    *ngIf="count"
    [collectionSize]="count" 
    [(page)]="page"
    [(pageSize)]="pageSize" 
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="getMeals($event)"
    aria-label="Default pagination">
  </ngb-pagination>
</ul>
