<h2> Meal List
  <span class="badge badge-success">{{count}}</span>
  <button type="button" class="btn btn-info pull-right" [routerLink]="['../createmeal']">Neues Gericht</button>
</h2>

<ul class="list-group"> 
  <li *ngFor="let meal of meals"
     class="list-group-item list-group-item-action">
    {{meal.meal_name}}
    <a routerLink="/detail/{{meal.meal_id}}" class="pull-right glyphicon glyphicon-pencil"></a>
    <span *ngIf="meal.menu" class="pull-right glyphicon glyphicon-ok-circle">&nbsp;</span>
    <a *ngIf="!meal.menu" (click)="addMenu(meal.meal_id)" class="pull-right glyphicon glyphicon-plus">&nbsp;</a>
  </li>
  <ngb-pagination 
    *ngIf="count"
    [collectionSize]="count" 
    [(page)]="page"
    [(pageSize)]="pageSize" 
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="getMeals($event)"
    aria-label="Default pagination">
  </ngb-pagination>
</ul>
